.task-list-info, .task-list-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-list-info {
    font-size: .7rem;
    list-style: none;
    padding: 1rem;
}

.task-list-info-item {
    color: var(--veryDarkGrayishBlue1);
    cursor: pointer;
}

.task-list-info-item:hover {
    color: var(--lightGrayishBlue1);
}
.task-list-filter {
    gap: .5rem;
}