.main-light {
    background-image: url('./assets/bg-desktop-light.jpg');
    background-color: hsl(0, 0%, 98%);
}

.add-task-input-light {
    background-color: var(--veryLightGray);
}

.check-box-light {
    border: 1px solid var(--veryDarkDesaturatedBlue);
    background-color: var(--veryLightGray);
}

.task-list-light {
    background-color: var(--veryLightGray);
}

.completed-light {
    color: var(--lightGrayishBlue3);
}

.task-name-light {
    color: var(--veryDarkGrayishBlue);
}